---
import NoteMeta from '@components/note/NoteMeta.astro'
import Page from '@layouts/Page.astro'
import { getNotes } from '@libs/note'

const notes = await getNotes()
---

<Page metaDescription="HiDeoo's Personal Notes" metaTitle="Notes" title="All Notes" titleVisibility="visible">
  <ul>
    {
      notes.map((note) => (
        <li>
          <article>
            <p>
              <a href={note.href}>{note.data.title}</a>
            </p>
            <NoteMeta {note} />
          </article>
        </li>
      ))
    }
  </ul>
</Page>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);

    @media (--md-n-above) {
      gap: var(--size-1);
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--size-1);

    @media (--md-n-above) {
      align-items: center;
      flex-direction: row;
      gap: var(--size-2);
    }
  }

  p {
    font-size: var(--text-lg);
    line-height: 1.6;
  }
</style>
