---
import NoteHeader from '@components/note/NoteHeader.astro'
import Notes from '@components/note/Notes.astro'
import NotesSchema from '@components/note/NotesSchema.astro'
import Page from '@layouts/Page.astro'
import { getNotes } from '@libs/note'
import { getNotebooks } from '@libs/notebook'

const notes = await getNotes()
const notebooks = await getNotebooks()
---

<Page metaDescription="HiDeoo's Personal Notes" metaTitle="Notes" title="All Notes" titleVisibility="visible">
  <NotesSchema {notes} slot="head" />
  <NoteHeader slot="content-header" tag="header">
    <a href="/notes/rss.xml">RSS Feed</a>
  </NoteHeader>
  <Notes {notes} />
  <h2>Notebooks</h2>
  <Notes notes={notebooks} />
</Page>

<style>
  h2 {
    margin-top: var(--size-8);
  }
</style>
