---
import Page from '@layouts/Page.astro'
import { getNoteUrl, getNotes } from '@libs/notes'

const notes = await getNotes()
---

<Page metaTitle="Notes" title="All Notes" titleVisibility="visible">
  {
    notes.map((note) => (
      <div>
        <a href={getNoteUrl(note)}>{note.data.title}</a>
      </div>
    ))
  }
</Page>
