<h2 id="prerequisites"><a href="#prerequisites">Prerequisites</a></h2>

<p>
  You will need to have a Starlight plugin set up. If you don’t have one yet, you can follow the <a
    href="/notes/starlight-plugin-how-to">“How to create a Starlight plugin”</a
  > note to create one or refer to the <a href="https://starlight.astro.build/reference/plugins/"
    >Starlight documentation</a
  > for a complete reference.
</p>
