<p>
  To learn more about Starlight plugins, check out the <a href="/notebooks/starlight-plugins-by-example"
    >“Starlight Plugins by Example”</a
  > notebook for additional guides and examples.
</p>
