---
import StarlightMdExample from '@components/example/StarlightMdExample.astro'
---

<StarlightMdExample description="Example of a Starlight heading with a link to the heading anchor.">
  <h2 id="my-heading">
    <a href="#my-heading">Further reading</a>
  </h2>
  <p>Some random example text in Starlight.</p>
</StarlightMdExample>

<style>
  h2 > a {
    color: var(--preview-color-sl-markdown-heading);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
