@import '@fontsource/archivo';
@import 'open-props/media';

/* https://www.industrialempathy.com/perfect-ish-font-fallback/?font=Archivo */
@font-face {
  font-family: 'Archivo-fallback';
  size-adjust: 98.44%;
  src: local('Arial');
}

html {
  background-color: var(--bg-color);
}

body {
  color: var(--color);
  font-family: 'Archivo', 'Archivo-fallback', sans-serif;
  font-size: var(--text-size);
  line-height: var(--line-height);
}

div.app {
  display: flex;
  flex-direction: column;
  gap: var(--size-7);
  max-width: var(--max-page-width);
  margin-inline: auto;
  padding: var(--spacing);

  @media (--sm-n-above) {
    gap: var(--size-7);
    padding: var(--spacing-sm);
  }

  @media (--md-n-above) {
    flex-direction: row;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
  }

  @media (--lg-n-above) {
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
  }
}

main {
  flex-grow: 1;
}
