:root {
  --max-page-width: 80rem;
  --sidebar-width: calc(var(--size-14) - var(--size-8));
  --avatar-size: 190px;

  --text-size-xs: 0.8rem;
  --text-size-sm: 0.925rem;
  --text-size: 0.975rem;
  --text-size-lg: 1.1rem;
  --text-size-xl: var(--size-5);

  --line-height-xs: var(--size-4);
  --line-height-sm: var(--size-5);
  --line-height: var(--size-6);

  --spacing: var(--size-3);
  --spacing-sm: var(--size-5);
  --spacing-md: var(--size-7);
  --spacing-lg: var(--size-8);

  --grid-spacing: var(--size-3);

  --theme-toggle-animation-duration: 450ms;
}

:root {
  color-scheme: light;

  --color: var(--gray-9);
  --color-dimmed: var(--gray-7);
  --bg-color: var(--gray-2);
  --card-bg-color: white;
  --card-border-color: var(--color);
  --card-color: var(--color);
  --selection-bg-color: var(--gray-5);
}

:root.dark {
  color-scheme: dark;

  --color: var(--gray-4);
  --color-dimmed: var(--gray-6);
  --bg-color: hsl(210 11% 7%);
  --card-bg-color: hsl(0 0% 4%);
  --card-border-color: var(--gray-6);
  --card-color: var(--color);
  --selection-bg-color: var(--gray-7);
}
