<div class="not-prose">
  <slot />
</div>

<style>
  div {
    border-radius: calc(var(--rounded) + 1px);
    border: 1px solid var(--color-gray-800);
    margin-block: var(--size-6) var(--size-7);
    overflow: hidden;
  }
</style>
