---
import Link from '@components/ui/Link.astro'
import Section from '@components/ui/Section.astro'
import Page from '@layouts/Page.astro'
---

<Page>
  <Section title="Whoops!">
    <p>Sorry, we can&apos;t find the page you&apos;re looking for. <Link href="/" target="_self">Go home?</Link></p>
  </Section>
</Page>
