---
// TODO(HiDeoo)
// import Card from '../components/Card.astro'
// import CardRow from '../components/CardRow.astro'
// import App from '../layouts/App.astro'
import Page from '../layouts/Page.astro'
---

<Page>
  <!-- // TODO(HiDeoo)  -->
  <!-- <h1>Page not found</h1>
  <p>Sorry, we can&apos;t find the page you&apos;re looking for.</p>
  <Card href="/" class="home-link">
    <CardRow>Go home?</CardRow>
  </Card> -->
</Page>

<!-- // TODO(HiDeoo)  -->
<!-- <style>
  .app.not-found {
    display: grid;
    gap: 0;
    grid-template-rows: 1fr repeat(3, auto) 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    place-items: center;
    text-align: center;
  }

  h1 {
    display: inline;
    font-size: var(--text-size-xl);
    grid-row-start: 2;
  }

  p {
    grid-row-start: 3;
    margin-block: var(--size-2);
  }

  :global(.card).home-link {
    display: inline-flex;
    grid-row-start: 4;
    margin-block: var(--size-6);
  }
</style> -->
