---
import Repos from '../components/Repos.astro'
import Section from '../components/Section.astro'
import Page from '../layouts/Page.astro'
import { fetchGitHubRepos } from '../libs/github'

const allRepos = await fetchGitHubRepos()
---

<Page>
  <Section title="All Projects">
    <Repos repos={allRepos} />
  </Section>
</Page>
