---
import About from '@components/About.astro'
import RecentContributions from '@components/RecentContributions.astro'
import RecentProjects from '@components/RecentProjects.astro'
import Section from '@components/ui/Section.astro'
import Page from '@layouts/Page.astro'
---

<Page title="HiDeoo's Personal Website" titleVisibility="hidden">
  <About />
  <RecentProjects />
  <Section title="Recent Notes">// TODO(HiDeoo)</Section>
  <RecentContributions />
</Page>
