---
import ProfileCard from '../components/ProfileCard.astro'
import Repos from '../components/Repos.astro'
import Section from '../components/Section.astro'
import ThemeToggle from '../components/ThemeToggle.astro'
import Page from '../layouts/Page.astro'
import { fetchGitHubRecentRepos, fetchGitHubReposAndLanguageStats } from '../libs/github'

const { repos: allRepos, languageStats } = await fetchGitHubReposAndLanguageStats()
const recentRepos = await fetchGitHubRecentRepos()
---

<Page>
  <ProfileCard slot="sidebar" languageStats={languageStats} />
  <Section title="Recent Projects">
    <ThemeToggle slot="section-title-item" />
    <Repos repos={recentRepos} />
  </Section>
  <Section title="All Projects">
    <Repos repos={allRepos} />
  </Section>
</Page>
