---
import { getString } from '../libs/test'

const t = getString()
---

<html lang="en">
  <body>
    <h1>Hello, World!</h1>
    <div>{t}</div>
    <style>
      h1 {
        color: orange;
      }
    </style>
  </body>
</html>
