---
import Page from '../layouts/Page.astro'
import { getString } from '../libs/test'

const t = getString()
---

<Page>
  <h1 class="bg-white dark:bg-zinc-900">Hello, World!</h1>
  <div class="bg-blue-600">{t}</div>
  <div>
    START
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis sequi voluptatem quis. Magnam non quam quas ex ab.
    Autem maxime atque non odio nulla vel vitae consectetur nam repellat animi!
    <br />
    END
  </div>
</Page>
