---
import Page from '../layouts/Page.astro'
import { getString } from '../libs/test'

const t = getString()
---

<Page>
  <style>
    h1 {
      color: orange;
    }
  </style>

  <h1>Hello, World!</h1>
  <div>{t}</div>
</Page>
