---
import About from '@components/About.astro'
import RecentProjects from '@components/RecentProjects.astro'
import Section from '@components/ui/Section.astro'
import Page from '@layouts/Page.astro'
---

<Page title="HiDeoo's Personal Website">
  <About />
  <RecentProjects />
  <Section title="Recent Notes">// TODO(HiDeoo)</Section>
</Page>
