---
import Section from '@components/ui/Section.astro'
---

<Section>
  <p>Hey, there!</p>
  <p>
    I am a software engineer mostly working with <b>TypeScript</b>, <b>Astro</b>, <b>React</b> and some <b>Go</b>.
    <br />
     All my projects are available on <a href="https://github.com/HiDeoo">GitHub</a>.
    <br />
     You can also check out my <a href="https://github.com/HiDeoo/dotfiles">dotfiles</a>.
  </p>
</Section>

<style>
  p + p {
    margin-top: var(--size-5);
  }

  b {
    color: var(--color-text-highlight);
    font-weight: var(--font-semibold);
  }
</style>
