---
import { getCollection, type CollectionEntry } from 'astro:content'

import Repos from '@components/repo/Repos.astro'
import Section from '@components/ui/Section.astro'

const repos = await getCollection('repos')
const projectsCategories = await getCollection('projects')

const reposByCategories = new Map<string, CollectionEntry<'repos'>[]>()
const uncategorizedRepos: CollectionEntry<'repos'>[] = []

for (const projectsCategory of projectsCategories) {
  const categoryRepos: CollectionEntry<'repos'>[] = []

  for (const repo of repos) {
    if (projectsCategory.data.repos.includes(repo.data.name.toLowerCase())) {
      categoryRepos.push(repo)
    }
  }

  reposByCategories.set(projectsCategory.data.id, categoryRepos)
}

for (const repo of repos) {
  if (![...reposByCategories.values()].flat().includes(repo)) {
    uncategorizedRepos.push(repo)
  }
}
---

{
  [...reposByCategories.entries()].map(([categoryName, categoryRepos]) => (
    <Section title={categoryName}>
      <Repos repos={categoryRepos} />
    </Section>
  ))
}
{
  uncategorizedRepos.length > 0 && (
    <Section title="Other Projects">
      <Repos repos={uncategorizedRepos} />
    </Section>
  )
}
