<div class="card">
  <slot />
</div>

<style>
  div.card {
    background-color: var(--card-bg-color);
    border: var(--border-size-1) solid var(--card-border-color);
    border-radius: var(--radius-2);
    color: var(--card-color);
  }
</style>
