---
export interface Props {
  center?: boolean
  grow?: boolean
  raw?: boolean
  small?: boolean
}

const { center, grow, raw, small } = Astro.props
---

<div class:list={['cardRow', { center, grow, raw, small }]}>
  <slot />
</div>

<style>
  div.cardRow {
    border-bottom: var(--border-size-1) solid var(--card-border-color);
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    padding: 0.65rem var(--size-3);

    &:last-child {
      border-bottom: 0;
    }

    &.center {
      justify-content: center;
    }

    &.grow {
      flex-grow: 1;
    }

    &.raw {
      padding: 0;
    }

    &.small {
      font-size: var(--text-size-sm);
    }

    & :global(h3) {
      font-size: var(--text-size-lg);
      margin-block: 0;
    }
  }
</style>
