<div class="cardRow">
  <slot />
</div>

<style>
  div.cardRow {
    border-bottom: var(--border-size-1) solid var(--card-border-color);
    padding: var(--size-3);
  }

  div:last-child {
    border-bottom: 0;
  }
</style>
