---
import Link from './Link.astro'
import VisuallyHidden from './VisuallyHidden.astro'
---

<footer>
  <div>
    Brewed with <Link href="https://astro.build" target="_blank">Astro</Link>, <Link
      href="https://open-props.style"
      target="_blank">Open Props</Link
    > & <svg class="coffee-icon" width="22" height="22" viewBox="0 0 24 24" aria-labelledby="coffee-icon-title">
      <title id="coffee-icon-title">coffee</title>
      <g>
        <path
          d="M 23.566406 12.003906 C 23.097656 11.136719 22.296875 10.507812 21.3125 10.230469 C 20.980469 10.132812 20.632812 10.085938 20.289062 10.085938 C 19.691406 10.085938 19.117188 10.230469 18.605469 10.492188 C 18.605469 10.222656 18.605469 9.96875 18.601562 9.734375 C 18.601562 9.589844 18.601562 9.453125 18.601562 9.324219 C 18.601562 8.964844 18.3125 8.675781 17.953125 8.675781 L 0.652344 8.675781 C 0.292969 8.675781 0.00390625 8.964844 0.00390625 9.324219 C 0.00390625 9.453125 0.00390625 9.589844 0 9.734375 C -0.0117188 12.265625 -0.0390625 16.980469 4.121094 21.90625 C 4.246094 22.050781 4.425781 22.136719 4.617188 22.136719 L 13.984375 22.136719 C 14.175781 22.136719 14.359375 22.050781 14.480469 21.90625 C 14.871094 21.445312 15.222656 20.984375 15.542969 20.53125 C 16.398438 20.402344 22.453125 19.328125 23.8125 14.957031 C 24.128906 13.929688 24.042969 12.882812 23.566406 12.003906 Z M 4.921875 20.835938 C 1.371094 16.5 1.285156 12.480469 1.296875 9.972656 L 17.308594 9.972656 C 17.316406 12.480469 17.230469 16.5 13.683594 20.835938 Z M 22.574219 14.570312 C 21.71875 17.316406 18.347656 18.53125 16.503906 19.003906 C 17.941406 16.429688 18.398438 14.03125 18.542969 12.121094 C 18.992188 11.660156 19.617188 11.382812 20.289062 11.382812 C 20.515625 11.382812 20.738281 11.414062 20.960938 11.476562 C 21.605469 11.660156 22.125 12.066406 22.425781 12.621094 C 22.738281 13.199219 22.789062 13.871094 22.574219 14.570312 Z M 22.574219 14.570312 "
        ></path>
        <path
          d="M 5.898438 6.648438 C 5.898438 7.007812 6.1875 7.296875 6.546875 7.296875 C 6.902344 7.296875 7.195312 7.007812 7.195312 6.648438 C 7.195312 6.449219 7.226562 6.378906 7.292969 6.234375 C 7.390625 6.035156 7.519531 5.761719 7.519531 5.269531 C 7.519531 4.78125 7.390625 4.503906 7.292969 4.304688 C 7.226562 4.164062 7.195312 4.089844 7.195312 3.890625 C 7.195312 3.691406 7.226562 3.621094 7.292969 3.480469 C 7.390625 3.277344 7.519531 3.003906 7.519531 2.511719 C 7.519531 2.15625 7.226562 1.863281 6.871094 1.863281 C 6.511719 1.863281 6.222656 2.15625 6.222656 2.511719 C 6.222656 2.714844 6.1875 2.785156 6.121094 2.925781 C 6.027344 3.128906 5.898438 3.402344 5.898438 3.890625 C 5.898438 4.382812 6.027344 4.65625 6.121094 4.855469 C 6.1875 5 6.222656 5.070312 6.222656 5.269531 C 6.222656 5.46875 6.1875 5.542969 6.121094 5.683594 C 6.027344 5.882812 5.898438 6.160156 5.898438 6.648438 Z M 5.898438 6.648438 "
        ></path>
        <path
          d="M 8.492188 6.648438 C 8.492188 7.007812 8.78125 7.296875 9.140625 7.296875 C 9.5 7.296875 9.789062 7.007812 9.789062 6.648438 C 9.789062 6.449219 9.824219 6.378906 9.890625 6.234375 C 9.984375 6.035156 10.113281 5.761719 10.113281 5.269531 C 10.113281 4.78125 9.984375 4.503906 9.890625 4.304688 C 9.824219 4.164062 9.789062 4.089844 9.789062 3.890625 C 9.789062 3.691406 9.824219 3.621094 9.890625 3.480469 C 9.984375 3.277344 10.113281 3.003906 10.113281 2.511719 C 10.113281 2.15625 9.824219 1.863281 9.464844 1.863281 C 9.105469 1.863281 8.816406 2.15625 8.816406 2.511719 C 8.816406 2.714844 8.78125 2.785156 8.714844 2.925781 C 8.621094 3.128906 8.492188 3.402344 8.492188 3.890625 C 8.492188 4.382812 8.621094 4.65625 8.714844 4.855469 C 8.78125 5 8.816406 5.070312 8.816406 5.269531 C 8.816406 5.46875 8.78125 5.542969 8.714844 5.683594 C 8.621094 5.882812 8.492188 6.160156 8.492188 6.648438 Z M 8.492188 6.648438 "
        ></path>
        <path
          d="M 11.085938 6.648438 C 11.085938 7.007812 11.375 7.296875 11.734375 7.296875 C 12.09375 7.296875 12.382812 7.007812 12.382812 6.648438 C 12.382812 6.449219 12.417969 6.378906 12.484375 6.234375 C 12.578125 6.035156 12.707031 5.761719 12.707031 5.269531 C 12.707031 4.78125 12.578125 4.503906 12.484375 4.304688 C 12.417969 4.164062 12.382812 4.089844 12.382812 3.890625 C 12.382812 3.691406 12.417969 3.621094 12.484375 3.480469 C 12.578125 3.277344 12.707031 3.003906 12.707031 2.511719 C 12.707031 2.15625 12.417969 1.863281 12.058594 1.863281 C 11.699219 1.863281 11.410156 2.15625 11.410156 2.511719 C 11.410156 2.714844 11.375 2.785156 11.308594 2.925781 C 11.214844 3.128906 11.085938 3.402344 11.085938 3.890625 C 11.085938 4.382812 11.214844 4.65625 11.308594 4.855469 C 11.375 5 11.410156 5.070312 11.410156 5.269531 C 11.410156 5.46875 11.375 5.542969 11.308594 5.683594 C 11.214844 5.882812 11.085938 6.160156 11.085938 6.648438 Z M 11.085938 6.648438 "
        ></path>
      </g>
    </svg>
    . Hosted on <Link href="https://vercel.com" target="_blank">Vercel</Link>.
  </div>
  <div>
    <a
      class="github-profile-link"
      href="https://github.com/HiDeoo/hideoo.dev"
      rel="noreferrer"
      target="_blank"
      title="Open hideoo.dev GitHub repository"
    >
      <VisuallyHidden>Open hideoo.dev GitHub repository</VisuallyHidden>
      <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true"
        ><path
          d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
        ></path>
      </svg>
    </a>
  </div>
</footer>

<style>
  @import 'open-props/media';

  footer {
    align-items: flex-start;
    border-top: 1px solid var(--color-dimmed);
    color: var(--color-dimmed);
    display: flex;
    gap: var(--size-4);
    justify-content: space-between;
    font-size: var(--text-size-sm);
    padding-top: var(--size-3);

    @media (--md-n-above) {
      padding-top: var(--size-4);
      grid-column: 1 / span 2;
    }

    @media (--lg-n-above) {
      padding-top: var(--size-6);
    }
  }

  .github-profile-link {
    border-radius: var(--radius-round);
    display: flex;

    &:focus-visible {
      outline: 2px solid var(--color);
      outline-offset: 4px;
    }

    &:is(:hover, :focus-visible) svg {
      fill: var(--color);
    }
  }

  svg {
    fill: var(--color-dimmed);
  }

  .coffee-icon {
    margin-left: 1px;
    vertical-align: text-bottom;
  }
</style>
