<div>
  <slot />
</div>

<style>
  @import 'open-props/media';

  div {
    display: grid;
    gap: var(--grid-spacing);
    grid-template-columns: 1fr;

    @media (--lg-n-above) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
