---
import '../styles/theme.css'
import '../styles/global.css'
---

<title>HiDeoo</title>

<meta charset="utf8" />
<meta name="color-scheme" content="dark light" />
<meta name="description" content="// TODO" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="// TODO" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="// TODO" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="/images/icons/favicon.ico" sizes="any" />
<link rel="icon" href="/images/icons/favicon.svg" type="image/svg+xml" />

<!-- Inline to avoid FOUC -->
<script is:inline>
  function setDarkTheme() {
    document.documentElement.classList.add('dark')
  }

  function unsetDarkTheme() {
    document.documentElement.classList.remove('dark')
  }

  const preferDarkTheme = window.matchMedia('(prefers-color-scheme: dark)')

  try {
    const theme = localStorage.getItem('theme')

    if (theme === 'dark' || (!theme && preferDarkTheme.matches)) {
      setDarkTheme()
    } else {
      unsetDarkTheme()
    }
  } catch {
    unsetDarkTheme()
  }

  preferDarkTheme.addEventListener('change', (event) => {
    if (event.matches) {
      setDarkTheme()
    } else {
      unsetDarkTheme()
    }
  })
</script>
