---
import { type LanguageStat } from '../libs/github'

export interface Props {
  languageStat: LanguageStat
}

const { languageStat } = Astro.props
---

<li>
  <span></span>
  {languageStat.name}
</li>

<style define:vars={{ darkColor: languageStat.colors.dark, lightColor: languageStat.colors.light }}>
  li {
    align-items: center;
    display: flex;
    font-size: var(--text-size-sm);
  }

  span {
    background-color: var(--lightColor);
    border: var(--border-size-1) solid var(--card-border-color);
    border-radius: var(--radius-round);
    display: inline-block;
    height: var(--size-3);
    margin-right: 0.75rem;
    width: var(--size-3);
  }

  :root.dark span {
    background-color: var(--darkColor);
  }
</style>
