---
export interface Props {
  class?: string
  href?: string
  target?: astroHTML.JSX.AnchorHTMLAttributes['target']
  title?: string | undefined
}

const { class: className, href, target, title } = Astro.props
---

<a class={className} href={href} target={target} title={title} rel="noreferrer">
  <slot />
</a>

<style>
  @import 'open-props/media';

  a {
    color: var(--color);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
  }

  a::after {
    background-color: var(--color);
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateX(-100%);
    width: 100%;

    @media (--motionOK) {
      transition: opacity 250ms var(--ease-5), transform 250ms var(--ease-5);
    }
  }

  a:hover::after,
  a:focus-visible::after {
    opacity: 1;
    transform: translateX(0);
  }
</style>
