---
import Section from '@components/ui/Section.astro'
import { type LanguageStats } from '@libs/github'

export interface Props {
  stats: LanguageStats
}

const { stats } = Astro.props
---

<Section title="Most used languages">
  <!-- // TODO(HiDeoo) ul? -->
  <ul>
    {
      stats.map((stat) => (
        <li>
          {stat.name} - {stat.size} - {stat.color}
        </li>
      ))
    }
  </ul>
</Section>
