---
import { fetchGitHubProfile, type LanguageStats } from '../libs/github'

import Card from './Card.astro'
import CardRow from './CardRow.astro'
import LanguageChart from './LanguageChart.astro'
import Link from './Link.astro'

export interface Props {
  languageStats: LanguageStats
}

const { languageStats } = Astro.props

const gitHubProfile = await fetchGitHubProfile()
---

<Card>
  <CardRow raw row center>
    <img src="images/avatar.webp" alt="HiDeoo's avatar" decoding="async" />
  </CardRow>
  <CardRow center>
    <h1>{gitHubProfile.login}</h1>
    <p>
      <Link href="https://github.com/HiDeoo" target="_blank">GitHub</Link> - <Link
        href="https://github.com/HiDeoo/dotfiles"
        target="_blank">Dotfiles</Link
      >
    </p>
  </CardRow>
  <CardRow>
    <LanguageChart languageStats={languageStats} />
  </CardRow>
</Card>

<style>
  img {
    aspect-ratio: auto 1 / 1;
    block-size: auto;
    max-inline-size: 100%;
    width: var(--avatar-size);
  }

  h1 {
    font-size: var(--text-size-xl);
    margin-block: calc(var(--size-1) / 2) var(--size-2);
  }

  p {
    display: flex;
    gap: var(--size-2);
    line-height: var(--line-height-sm);
    margin-block: 0;
  }
</style>
