---
import Repos from '@components/repo/Repos.astro'
import Section from '@components/ui/Section.astro'
import { fetchGitHubRecentRepos } from '@libs/github'

const recentRepos = await fetchGitHubRecentRepos()
---

<Section title="Recent Projects">
  <Repos repos={recentRepos} />
</Section>
