---
import RepoLink from '@components/repo/RepoLink.astro'
import Icon from '@components/ui/Icon.astro'
import Section from '@components/ui/Section.astro'
import { fetchGitHubRecentContributions } from '@libs/github'

let recentContributions = await fetchGitHubRecentContributions()

if (recentContributions.length < 8) {
  recentContributions = recentContributions.splice(0, 4)
}
---

<Section title="Recent Contributions">
  <div>
    {
      recentContributions.map((contribution) => (
        <RepoLink href={contribution.url} name={contribution.name}>
          <div class="name">{contribution.name}</div>
          <Icon name="chevron-right" />
        </RepoLink>
      ))
    }
  </div>
</Section>

<style>
  div {
    display: grid;
    gap: var(--size-4);
    grid-template-columns: 1fr;

    @media (--sm-n-above) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  div :global(a) {
    align-items: center;
    display: flex;
    gap: var(--size-3);
    min-width: 0;

    @media (--motionSafe) {
      &:is(:hover, :focus-visible) :global(svg) {
        animation: bounce var(--duration-1200) infinite var(--ease);
      }
    }
  }

  div :global(svg) {
    --size: var(--size-5);

    flex-shrink: 0;
    fill: currentColor;
    height: var(--size);
    width: var(--size);
  }

  .name {
    display: block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @keyframes bounce {
    25% {
      transform: translateX(-12%);
    }

    75% {
      transform: translateX(12%);
    }
  }
</style>
