---
import RepoLink from '@components/repo/RepoLink.astro'
import Section from '@components/ui/Section.astro'
import { fetchGitHubRecentContributions } from '@libs/github'

let recentContributions = await fetchGitHubRecentContributions()

if (recentContributions.length < 8) {
  recentContributions = recentContributions.splice(0, 4)
}
---

<Section title="Recent Contributions">
  <div>
    {recentContributions.map((contribution) => <RepoLink href={contribution.url} name={contribution.name} />)}
  </div>
</Section>

<style>
  div {
    display: grid;
    gap: var(--size-4);
    grid-template-columns: 1fr;

    @media (--sm-n-above) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
