---
import { type GitHubRepo } from '../libs/github'

import Card from './Card.astro'
import CardRow from './CardRow.astro'

export interface Props {
  repo: GitHubRepo
}
const { repo } = Astro.props
---

<Card as="article" href={repo.url} target="_blank" title={`Open ${repo.name} GitHub repository`}>
  <CardRow><h3>{repo.name}</h3></CardRow>
  <CardRow small grow>{repo.description}</CardRow>
  <CardRow small>footer</CardRow>
</Card>
