---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<section>
  <h2>{title}</h2>
  <div>
    <slot />
  </div>
</section>

<style>
  h2 {
    font-size: var(--text-size-xl);
    line-height: var(--line-height-xs);
    margin-block: var(--size-7);
  }

  section:first-child h2 {
    margin-top: 0;
  }
</style>
