<aside>
  <a href="#main" aria-hidden="true">Skip to content</a>
  <slot />
</aside>

<style>
  @import 'open-props/media';

  aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--spacing);

    @media (--sm-n-above) {
      gap: var(--spacing-sm);
    }

    @media (--md-n-above) {
      gap: var(--spacing-md);
      width: var(--sidebar-width);
    }

    @media (--lg-n-above) {
      gap: var(--spacing-lg);
    }
  }

  a {
    background-color: var(--bg-color);
    border-bottom-right-radius: var(--radius-2);
    color: var(--color);
    left: -500%;
    outline: 3px solid var(--color);
    outline-offset: 0;
    padding: 0.65rem var(--size-3);
    position: absolute;
    text-decoration: none;
    top: 0;
    z-index: 10;

    &:focus-visible {
      left: 0;
    }
  }
</style>
