<a href="#main">Skip to content</a>

<style>
  a {
    background-color: var(--bg-color);
    border-radius: var(--radius-2);
    color: var(--color);
    left: -500%;
    outline: 3px solid var(--color);
    outline-offset: 0;
    padding: 0.65rem var(--size-3);
    position: absolute;
    text-decoration: none;
    top: var(--size-3);
    z-index: 10;

    &:focus-visible {
      left: var(--size-3);
    }
  }
</style>
