---
import 'modern-normalize'

import Head from '../components/Head.astro'

export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <div class:list={['app', className]}>
      <slot />
    </div>
  </body>
</html>
