---
import 'uno.css'

import Head from '../components/Head.astro'
---

<html lang="en">
  <head>
    <Head />
  </head>
  <body class="bg-grid dark:bg-grid-dark">
    <!-- // TODO(HiDeoo) needed id? -->
    <main id="main">
      <slot />
    </main>
  </body>
</html>
