---
import 'modern-normalize'

import Head from '../components/Head.astro'
import Sidebar from '../components/Sidebar.astro'
---

<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <div class="app">
      <Sidebar />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
