---
import Head from '../components/Head.astro'
import Sidebar from '../components/Sidebar.astro'
---

<html lang="en">
  <head>
    <Head />
  </head>
  <body class="bg-zinc-100 dark:bg-zinc-800">
    <div class="max-w-7xl mx-auto p-4 sm:p-6 md:p-8 xl:p-12">
      <Sidebar />
      <main class="md:pl-[21rem] xl:pl-[21.5rem]">
        <slot />
      </main>
    </div>
  </body>
</html>
