<html lang="en">
  <head>
    <meta charset="utf8" />
    <title>HiDeoo</title>
    <meta name="color-scheme" content="dark light" />
    <meta name="description" content="// TODO" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="// TODO" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="// TODO" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/icons/favicon.ico" sizes="any" />
    <link rel="icon" href="/images/icons/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <slot />
  </body>
</html>
