---
import Repo from '@components/repos/Repo.astro'
import { type GitHubRepo } from '@libs/github'

export interface Props {
  repos: GitHubRepo[]
}

const { repos } = Astro.props
---

<!-- // TODO(HiDeoo)  -->
<div>
  {repos.map((repo) => <Repo repo={repo} />)}
</div>
