---
import Icon from '@components/ui/Icon.astro'
---

<footer>
  <span>
    Brewed with <a href="https://astro.build">Astro</a> &amp; <Icon aria-label="coffee" name="coffee" role="img" />
  </span>
  <span>
    Hosted on <a href="https://vercel.com">Vercel</a>
  </span>
</footer>

<style>
  footer {
    display: grid;
    border-top: var(--size-px) solid var(--color-gray-800);
    color: var(--color-gray-400);
    font-size: var(--text-sm);
    line-height: 1.5;
    padding: var(--size-8) var(--page-padding-inline) var(--size-12);
    place-items: center;

    & :global(svg) {
      --size: var(--size-5);

      display: inline;
      fill: currentColor;
      height: var(--size);
      margin-inline-start: var(--size-0-5);
      vertical-align: top;
      width: var(--size);
    }
  }

  a:is(:hover, :focus-visible) {
    color: var(--color-text-highlight);
  }

  a:focus-visible {
    border-radius: var(--rounded-sm);
    outline: var(--outline-width) solid var(--color-text-highlight);
    outline-offset: var(--size-px);
  }
</style>
