---
import { type HTMLAttributes } from 'astro/types'

export interface Props {
  class?: string
  href: string
  target?: HTMLAttributes<'a'>['target']
}

const { class: className, href, target = '_blank' } = Astro.props
---

<a class={className} href={href} rel="noreferrer" target={target}><slot /></a>

<style>
  a {
    display: inline-flex;
    font-weight: var(--font-semibold);
    overflow: hidden;
    position: relative;

    &::after {
      background-color: var(--color);
      bottom: 1px;
      content: '';
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      transform: translateX(-100%);
      width: 100%;

      @media (--motionSafe) {
        transition: opacity var(--duration-300) var(--ease), transform var(--duration-300) var(--ease);
      }
    }

    &:focus {
      outline: none;
    }

    &:is(:hover, :focus-visible)::after {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>
