---
import Icon from '@components/ui/Icon.astro'

export interface Props {
  href: string
  text?: string | undefined
  title: string
}

const { href, text, title } = Astro.props
---

<a class:list={{ 'link-card-text': typeof text === 'string' }} href={href} title={title}>
  {
    text ? (
      <>
        <div>{text}</div>
        <Icon name="chevron-right" />
      </>
    ) : (
      <slot />
    )
  }
</a>

<style>
  a {
    border: var(--outline-width) solid var(--color-gray-800);
    border-radius: var(--rounded-lg);
    padding: var(--size-3) var(--size-4);

    &:is(:hover, :focus-visible) {
      border-color: var(--color-text-highlight);
      color: var(--color-text-highlight);
      outline: none;
    }

    @media (--motionSafe) {
      transition: border-color var(--duration-300) var(--ease);
    }
  }

  a.link-card-text {
    align-items: center;
    display: flex;
    gap: var(--size-3);
    min-width: 0;

    @media (--motionSafe) {
      &:is(:hover, :focus-visible) :global(svg) {
        animation: bounce var(--duration-1200) infinite var(--ease);
      }
    }

    div {
      display: block;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & :global(svg) {
      --size: var(--size-5);

      flex-shrink: 0;
      fill: currentColor;
      height: var(--size);
      width: var(--size);
    }
  }

  @keyframes bounce {
    25% {
      transform: translateX(-12%);
    }

    75% {
      transform: translateX(12%);
    }
  }
</style>
