---
import Title from '@components/ui/Title.astro'

export interface Props {
  opaque?: boolean
  title: string
}

const { opaque = true, title } = Astro.props
---

<section>
  <Title>{title}</Title>
  <div class:list={{ opaque }}>
    <slot />
  </div>
</section>

<!-- // TODO(HiDeoo)  -->
<!-- <style>
  @import 'open-props/media';

  h2 {
    font-size: var(--text-size-xl);
    line-height: var(--line-height-xs);
    margin-block: var(--size-8);
    position: relative;
  }

  section:first-of-type h2 {
    margin-top: 0;
    margin-right: var(--size-8);
  }
</style> -->

<style>
  section {
    margin-bottom: var(--size-6);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  div.opaque {
    background-color: var(--bg-color);
    border: 1px solid var(--grid-border-color);
    padding: var(--size-3);
  }
</style>
