---
import Title from '@components/ui/Title.astro'

export interface Props {
  opaque?: boolean
  title: string
  visible?: boolean
}

const { opaque = true, title, visible = true } = Astro.props
---

{
  visible ? (
    <section>
      <Title>{title}</Title>
      <div class:list={{ opaque }}>
        <slot />
      </div>
    </section>
  ) : null
}

<style>
  section {
    margin-bottom: var(--size-6);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  div.opaque {
    background-color: var(--bg-color);
    border: var(--size-px) solid var(--grid-border-color);
    padding: var(--size-3);
  }
</style>
