<a href="#content">Skip to content</a>

<style>
  a {
    background-color: var(--color-gray-900);
    border-radius: var(--rounded-base);
    color: var(--color-text-highlight);
    display: block;
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
    left: -500%;
    line-height: 1.2;
    padding: var(--size-1);
    position: absolute;
    text-decoration: none;
    top: var(--size-4);

    &:focus-visible {
      left: var(--size-3);
      outline: var(--outline-width) solid var(--color-text-highlight);
    }
  }
</style>
