<a href="#main">Skip to content</a>

<style>
  a {
    background-color: var(--bg-color);
    border: 2px solid var(--color);
    color: var(--color);
    left: -500%;
    outline: none;
    padding: var(--size-2) var(--size-3);
    position: absolute;
    text-decoration: none;
    top: var(--size-2);

    &:focus-visible {
      left: var(--size-2);
    }
  }
</style>
