---
export interface Props {
  class?: string
  color: string
}

const { class: className, color, ...others } = Astro.props
---

<li class:list={['tag', className]} style={{ '--tag-color': color }} {...others}>
  <code><slot /></code>
</li>

<style>
  .tag {
    --offset: 4px;

    background-color: var(--bg-color);
    border: 2px solid var(--color-dimmed);
    box-shadow: var(--offset) var(--offset) 0 var(--tag-color);
    color: var(--color-dimmed);
    font-size: var(--text-sm);
    line-height: var(--line-height-7);
    padding-inline: var(--size-2);
    text-align: center;
  }
</style>
