---
export interface Props {
  class?: string
  color: string
}

const { class: className, color, ...others } = Astro.props
---

<li class:list={['tag', className]} style={{ '--tag-color': color }} {...others}>
  <code><slot /></code>
</li>

<style>
  .tag {
    background-color: var(--bg-color);
    border: 2px solid var(--color-dimmed);
    color: var(--color-dimmed);
    font-size: var(--text-sm);
    line-height: var(--line-height-7);
    padding-inline: var(--size-2);
    position: relative;
    text-align: center;
    transform-style: preserve-3d;

    &::after {
      --offset: 6px;

      background-color: var(--tag-color);
      content: '';
      height: 100%;
      left: var(--offset);
      position: absolute;
      top: var(--offset);
      transform: translateZ(-1px);
      width: 100%;
    }
  }
</style>
