<h2 class="title">
  <slot />
</h2>

<style>
  .title {
    color: var(--bg-color);
    font-size: var(--size-6);
    font-weight: var(--font-extrabold);
    letter-spacing: var(--size-px);
    line-height: var(--line-height-8);
    margin-bottom: var(--size-3);
    text-shadow: var(--size-px) var(--size-npx) 0 var(--color);
    text-transform: uppercase;
    -webkit-text-stroke: var(--size-px) var(--color);
  }
</style>
