<h2 class="title">
  <slot />
</h2>

<style>
  .title {
    color: var(--bg-color);
    font-size: var(--size-6);
    font-weight: var(--font-extrabold);
    letter-spacing: 1px;
    line-height: var(--line-height-8);
    margin-bottom: var(--size-3);
    text-shadow: 1px -1px 0 var(--color);
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--color);
  }
</style>
